a {
    color: #890ED7;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #5B098F;
}

#header #search-bar {
	background: #890ED7; 
	background: -moz-linear-gradient(top, #890ED7 0%, #890ED7 15%, #58098A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#890ED7), color-stop(15%,#890ED7), color-stop(100%,#58098A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #890ED7 0%,#890ED7 15%,#58098A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #890ED7 0%,#890ED7 15%,#58098A 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #890ED7 0%, #890ED7 15%,#58098A 100%); /* IE10+ */
	filter: none; /* IE6-9 */
	background: linear-gradient(top, #890ED7 0%,#890ED7 15%,#58098A 100%); /* W3C */
}
 
div.item-list-tabs ul li {
    background: #9810EF;
    border: 1px solid #9810EF;
}
div.item-list-tabs ul li:hover {
    background: #890ED7;
    border-color: #890ED7;
}

div.item-list-tabs ul li, 
div.item-list-tabs ul li.selected, 
div.item-list-tabs ul li.current {
	border-bottom: none; 
	margin-bottom: -1px; 
}

div.item-list-tabs ul li a span {
  	background: #5B098F;
}
div.item-list-tabs ul li a:hover span {
  	background: #4C0877;
}

#header #search-bar input[type=submit] {
	background: #2D0547; 
	background: -moz-linear-gradient(top, #2D0547 0%, #3D065F 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2D0547), color-stop(100%,#3D065F)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2D0547) 0%,#3D065F 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2D0547 0%,#3D065F 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #2D0547 0%,#3D065F 100%); /* IE10+ */
	filter: none; /* IE6-9 */
	background: linear-gradient(top, #2D0547 0%,#3D065F  100%); /* W3C */
 	border-color: #3D065F #3D065F #3D065F #3D065F;
    border-right: 1px solid #3D065F;
    color: #FFF;
	text-shadow: 0 1px 0 #000; 	
}
#header h1 a {
	text-shadow: 0 -1px 0 #000000;
}
form#whats-new-form textarea:focus {
	-moz-box-shadow: 0 0 7px #E0B7FA inset, 0 0 7px #E0B7FA inset;
   	-webkit-box-shadow: 0 0 7px #E0B7FA inset, 0 0 7px #E0B7FA inset;
    box-shadow: 0 0 7px #E0B7FA inset, 0 0 7px #E0B7FA inset;
}
#whats-new:focus {
    border-color: #B757F4 !important;
    outline-color: #B757F4;
}
#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications #ab-pending-notifications.alert,
#wpadminbar .quicklinks li#wp-admin-bar-my-account a span.count,
#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar a span.coun {
    background-color: #9810EF;
}
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop ul li a strong,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
    color: #890ED7;
}
#wpadminbar .menupop li:hover, 
#wpadminbar .menupop li.hover, 
#wpadminbar .quicklinks .menupop .ab-item:focus, 
#wpadminbar .quicklinks .ab-top-menu .menupop .ab-item:focus {
    background-color: #efe0f8;
}