a {
    color: #098AC6;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #06577D;
}

#header #search-bar {
	background: #098AC6; 
	background: -moz-linear-gradient(top, #098AC6 0%, #098AC6 15%, #055478 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#098AC6), color-stop(15%,#098AC6), color-stop(100%,#055478)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #098AC6 0%,#098AC6 15%,#055478 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #098AC6 0%,#098AC6 15%,#055478 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #098AC6 0%, #098AC6 15%,#055478 100%); /* IE10+ */
	filter: none; /* IE6-9 */
	background: linear-gradient(top, #098AC6 0%,#098AC6 15%,#055478 100%); /* W3C */
}
 
div.item-list-tabs ul li {
    background: #0A9BDE;
    border: 1px solid #0A9BDE;
}
div.item-list-tabs ul li:hover {
    background: #098AC6;
    border-color: #098AC6;
}

div.item-list-tabs ul li, 
div.item-list-tabs ul li.selected, 
div.item-list-tabs ul li.current {
	border-bottom: none; 
	margin-bottom: -1px; 
}

div.item-list-tabs ul li a span {
  	background: #06577D;
}
div.item-list-tabs ul li a:hover span {
  	background: #054664;
}

#header #search-bar input[type=submit] {
	background: #022434; 
	background: -moz-linear-gradient(top, #022434 0%, #03354C 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#022434), color-stop(100%,#03354C)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #022434) 0%,#03354C 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #022434 0%,#03354C 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #022434 0%,#03354C 100%); /* IE10+ */
	filter: none; /* IE6-9 */
	background: linear-gradient(top, #022434 0%,#03354C  100%); /* W3C */
 	border-color: #03354C #054664 #03354C #03354C;
    border-right: 1px solid #054664;
    color: #FFF;
	text-shadow: 0 1px 0 #000; 	
}
#header h1 a {
	text-shadow: 0 -1px 0 #000000;
}
form#whats-new-form textarea:focus {
	-moz-box-shadow: 0 0 7px #A0DEFB inset, 0 0 7px #A0DEFB inset;
   	-webkit-box-shadow: 0 0 7px #A0DEFB inset, 0 0 7px #A0DEFB inset;
    box-shadow: 0 0 7px #A0DEFB inset, 0 0 7px #A0DEFB inset;
}
#whats-new:focus {
    border-color: #3FBCF6 !important;
    outline-color: #3FBCF6;
}