/*****************************************
	USER / TATTOO / SHOP PAGES - DEFAULTS
******************************************/
.user,  /*CONSIDER MAKING THESE STYLES GLOBAL!*/
.tattoo-single,
.shops,
.site-activity{
	// text-transform:uppercase; /*should this be global?*/
	.verticalSpacer{
		margin-top:1.5625em;
		margin-top:1em;
	}
	.icon{
		height:28px;
		line-height:28px;
		background-image:url(images/btn_sprites.png);
		background-repeat: no-repeat;
		padding-left:32px;	
	}
	.ilike{ /*facebook*/
		background-position:0px 0px;
	}
	.iview{ /*eyeball*/
		background-position:0px -28px;
	}
	.iplus{ /*plussign*/
		background-position:0px -56px;
	}
	.italk{ /*speechbubble*/
		background-position:0px -84px;
	}

	h1, h2, h3, h4, h5, h6{
		text-transform: uppercase;
		font: $fontTitle;
	}

}

/******************************************************
	MEMBER-HEADER / TATTOO-SINGLE-HEADER / SHOP HEADER
*******************************************************/

.user-header,
.tattoo-single-header,
.shop-header,
.site-activity-header{
	// overflow:hidden;
	margin-top:20px;
	margin-bottom: 1.5626em;
	position: relative;
}

.user-header h2 a,
.tattoo-single-header h2 a,
.shop-header h2 a,
.site-activity-header h2{
	font-family:'Oswald', 'Helvetica', sans-serif;
	font-weight:400;
	@include font-size(36);
	line-height:1em;
	margin-bottom:28px; /*should be calculated in ems or rems*/
	color:black;
}

.shop-header-content{
	.highlight{
		text-transform: uppercase;
		font-family:$fontTitle;
		color:#808080;
	}
	.activity{
		color:#808080;
	}
}

.user-avatar{ /*how are you formatting picture size?*/
	width:300px;	
}

.user-nicename{
	@include font-size(16);
	color:#AAA;
}

.user-likes{
	p{
		margin:0px;
		@include font-size(16);
	}
}

.user-socialActions button{
	font-family:'Oswald', 'Helvetica', sans-serif;
	font-weight:300;
	@include font-size(16);
	background:black;
	border:none;
	color:white;
	height:28px;
	line-height:28px;
	text-transform:uppercase;
	margin-right:0.75em;
	padding-top:0px;
	padding-bottom:0px;
	padding-right:0.75em;
}

.user-socialActions .btn-highlight{
	background:#7EB238;
	margin-right:60px;
}

.user #item-buttons div.generic-button{
	float:left;
	margin-right: 20px;
}

.shop-header-content{
	position:relative;
}

/******************
	MEMBER-HEADER-SUB
******************/

.user-breadcrumb{ /*Dribble style breadcrumb*/
	margin-top:20px;
	margin-bottom:1em;
	position:relative;
	/*padding-bottom:1em;
	border-bottom:1px solid #CCC;*/
	.user-avatar-sub{
		width:50px;
		height:50px;
		display:inline-block;
		a{
			height:100%;
			display:inline-block;
		}
	}
	h2{
		font-family:'Oswald', 'Helvetica', sans-serif;
		font-weight:400;
		display:inline-block;
		line-height:50px;
		margin-left:20px;
		vertical-align:top;
	}
}

/******************
	MEMBERS-FRIEND LOOP
******************/

.headline{
	display: inline-block;
	padding-right: 20px;
	text-transform: uppercase;
}

p.headline{
	font-size: 1.05em;
}

.pagination{
	margin: 1em 0em;
}
.item-list {
	margin: 0;
}
.th_list{
	border-bottom: 1px solid #cfcfcf;
	padding: 1em 0em;
	font-family: $fontTitle;
	text-transform: uppercase;
	@include font-size(13);
	// min-height: 8.5em;
	list-style: none;
	.item-avatar{
		float: left;
	}
	.item{
		margin-left: 60px; /*should match .action {margin-left}*/
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		     -o-box-sizing: border-box;
		        box-sizing: border-box;
		.item-title{
			margin-bottom: 8px;
			margin-bottom: 0.5rem;
			a{
				font-family: $fontTitle;
				// text-transform: uppercase;
				font-size: 1.125em;
        	}
        }
        .item-info{
        	p{
        		margin-bottom: 5px;
        		line-height: 1.1em;
        	}
        }
	}
}

.friend-list .th_list{
	min-height:auto;
}

.action{
	margin-top: 1em;
	margin-left:60px; /*width of avatar + 10px gutter.*/
}

#members-list{ /*the list of your friends*/
	margin-bottom: 1em;
}
/****************************************
	MEMBERS - PROFILE
****************************************/

#subnav{
	margin:0px;
	border-bottom: 2px solid black;
	margin-bottom: 1em;
}

#subnav ul{
	width:100%;
	margin: 0;
	list-style: none;
}

#subnav ul:before,
#subnav ul:after {
    content:"";
    display:table;
}
#subnav ul:after {
    clear:both;
}

#subnav ul li{
	font-family: $fontTitle;
	text-transform: uppercase;
	float:left;
	/*margin-right:0.5em;*/
	cursor:pointer;	
	text-align:center;
}

#subnav ul li:last-child:after{
	content:".";
	height:0px;
	width:0px;
	clear:both;
	visibility:hidden;
}

#subnav ul li a{
	color:black;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	display:inline-block;
	padding:0.4em 0.75em;
	font-weight:300;
}

#subnav ul li.selected a,
#subnav ul li.current a,
#subnav ul li a:hover{
	background:black;
	color:white;
	padding-bottom: 8px;
}

/*******PUBLIC*******/

/*This is the table that holds user information*/
.profile-fields{
	width: 100%;
	max-width: 480px;
	td{
		border-bottom: 1px solid #CCC;
		padding:5px 0px;
	}
	p{
		margin:0px;
	}
}

/*******EDIT*******/

#profile-edit-form{
	max-width: 480px;
	.description{
		margin-bottom: 1.5em;
		@include font-size(13);
	}
}

.field-visibility-settings-notoggle,
.field-visibility-settings-toggle{
	@include font-size(13);
	color:#999;
}
.field-visibility-settings ul.radio { list-style: none; }

/*******CHANGE AVATAR*******/

.profile-change-avatar{
	max-width: 480px;
}

/****************************************
	MEMBERS - STATUS
****************************************/

.update-status{
	margin-bottom: 1.5625em;
}

/****************************************
	MEMBERS - MESSAGE CENTRE
****************************************/
.search{
	position: relative;
}

.message-search,
.dir-search, /*The group (shops) search form*/
.tattoo-search{  
	input[type=submit],
	button[type=submit]{
		position:absolute;
		top:0;
		right:0;
		/*z-index:100;*/
		@include btnGreen;
	}
}

#message-threads{ /*The main message table*/
	margin:1em 0em;
	td{
		vertical-align: middle;
	}
	.alt{
		background:#eee;
	}
	.unread{
		border-left: 3px solid #C6ED91;
		.thread-info{
			font-weight: bold;
		}
	}
	.read{
	}
	.thread-count{
		padding:0px 10px;
	}
	.thread-avatar{
		width:70px;
	}
	.thread-from{
		padding:0px 10px;
		.activity{
			color:#777777;
			font-size: 0.8em;
		}
	}
	.thread-info{
		padding: 0.5em 0em;
		p{
			margin:0px;
		}
	}
}

.message-metadata{
	margin-bottom:0.5625em;
	.activity{
		color:#777777;
		font-size: 0.8em;
	}
}

.message-content{
	max-width: 450px;
}

.message-box{
	margin-top: 1.3em;
}

/****************************************
	MEMBERS - SETTINGS
****************************************/

/*****Notifications*****
	all of the tables are generated by buddypress**/

#settings-form .instructions{
	margin-bottom: 2em;
}

.notification-settings{ /*the buddypress class for the tables*/
	width:100%;
	margin-bottom: 3em;
	@include font-size(16);
	color:#404040;

	.icon{
		width:50px;
	}
	.title{
		text-align: left;
	}
	.yes, 
	.no{
		width:40px;
		text-align: center;
	}
	tr th:first-child,
	tr td:first-child{ /*hides the buddypress icon*/
		display:none;
	}
	th{
		font-family: $fontTitle;
		text-transform: uppercase;
		border-bottom: 1px solid #ccc;
		padding-bottom: 0.5em;
	}
	td{
		vertical-align: middle;
		padding-top:0.5em;
		line-height: 1.2em;
	}

}

/****************************************
	BROWSE PAGE
****************************************/

.browse-list{
	.details{
		.likes{
			padding-left: 0.75em;
		}
		.icon{
			display:inline-block;
			width:16px;
			height:16px;
			background-image:url('images/sprites_16px_viewslikes.png');
			position: relative;
			top:2px;
			left:2px;
		}
		.icon-heart{
			background-position: 0px 0px;
		}
		.icon-heart.liked{
			background-position: 0px -16px;
		}
		.icon-eye{
			background-position: 0px -32px;
		}
	}

}

/******************
	SHOPS - LIST
******************/

#groups-list{
	.meta{
		margin: 1em 0em;
		font-family: 'Open Sans Condensed', sans-serif;
		text-transform: none;
	}
}

/*************************
	SHOPS - ACTIVITY FORM
**************************/

#whats-new-form{ /*the container for the activity update form*/
	h3{ /*these numbers allow for long headers that might span two lines. Might want to consider applying this to any header in the sidebar area*/
		line-height: 1.3em; 
		margin-bottom: 0.575em;
	}

}

/*************************
	SHOPS - SETTINGS FORM
**************************/

#group-settings-form{ /*all the group settings*/
	max-width: none; /*allows for 3 column layout on members tab*/

	.item-list{
		max-height: 800px;
		overflow: auto;
	}

	.th_list{
		background:#f4f4f4;
		padding:1em;
		border:1px solid #ccc;
		.item-title{
			border-bottom:1px solid #ddd;
			padding-bottom: 5px;
		}
		margin-bottom: 1em;
	}

	.avatar{
		width: 50px;
		height: 50px;
	}
	.action{
		margin-left: 0px;
		a{
			display:block;
			line-height: 1.4em;
		}
	}

}

/******************
	TATTOO - SINGLE
******************/

.tattoo-single{
	.tattoo-content .th_list{
		border-bottom: none;
	}
	.comments-container{
		background: #eee;
	}
	.comments{
		padding:0px;
		margin:0em 0em 1em;
		background: white;
		height: 300px;
		overflow: scroll;
		.item{
			position: relative;
			.item-info p{
				font-family: $fontBody;
				text-transform: none;
			}
		}
	}
	.item-timestamp{
		position:absolute;
		top:0;
		right:0;
	}
}

.tattoo-single-header h2 a{
	@include font-size(24);
}

.tattoo-image{
	width:100%;
	max-height: 540px; /*Locked to 6x4 aspect ration*/
	img{
		width:100%;
	}
}
.tattoo-image img{
	width:100%;
}

.tattoo-description p{
	font-family:$fontTitle;
	text-transform:uppercase;
	@include font-size(16);
}

.artist-info-small.th_list{
	.item{
		margin-left: 110px;
	}
}

.post-comment.th_list{
	border-bottom: none;
	margin-top: 1em;
	padding: 0.5em;
}

.comment-text{
	min-height: 50px;
}

/******************
	TATTOO - HORIZONTAL IMAGE GALLERY
******************/
.gallery-header{
	position: relative;
	a{
		position: absolute;
		top: 15px;
		right: 0;
		font-family: $fontTitle;
		text-transform: uppercase;
	}
}

.gallery-horizontal{
	width:100%;
	overflow:hidden;
	.gallery-mask{
		width:9999px;
		img{
			display:block;
			float:left;
			height:130px;
			padding-right:5px;
			&:last-child{
				padding-right:0px;
			}
		}
	}

}

/****************************************
	SOCIAL GALLERY / FAVOURITES GALLERY
****************************************/

.filter-socialGallery ul{
	width: 100%;
	margin: 0;
	list-style: none;
}
.filter-socialGallery ul li{
	font-family: $fontTitle;
	text-transform: uppercase;
	width:33.33333%;
	float:left;
	cursor:pointer;	
	text-align:center;
	line-height:50px; /*matches height of gallery filter items*/
	height:50px;
	font-size:1.25em;
	font-weight:300;
	color:black;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
}
.filter-socialGallery ul li.selected,
.filter-socialGallery ul li:hover{
	background:black;
	color:white;	
}

.slider{
	width:200%;
	position:relative;
	/*z-index:1;*/
	margin: 0;
	list-style: none;
}

.slider li{
	height:140px;
	margin-right:5px;
	margin-bottom:5px;
	float:left;
}
.slider li img{
	height:140px;	
}

.slider a{
	border-bottom:none;	
}

.mask-slider{
	width:100%;
	overflow:hidden;
	position:relative;
	/*z-index:100;*/		
}

.pull_right{
	display:inline-block;
	width:100%;
	text-align:right;
	margin-top: 0.5625em;	
}

/****************************************
	ACTIVITY STREAM
****************************************/

#activity-stream{
	li{
		list-style: none;
		margin-bottom: 2em;
		position: relative;
	}
	min-height:300px;
	max-height: 800px;
	overflow: auto;
	padding-right: 20px; /*to avoid the scrollbar*/
	.activity-avatar{ /*the large thumbnail*/
		height: 50px;
		width: 50px;
		float: left;
	}
	.activity-header{ /*line of text describing the activity*/ 
		padding-left: 60px; /*width of avatar + 10px*/
		height: 50px;
		p{
			line-height: 50px;
			img{
				margin-right: 5px; /*spacing around tiny avatars*/
			}
		}
	}
	.activity-inreplyto{
		margin: 5px 0px 5px 60px; /*width of avatar + 10px*/
	}
	.activity-inner-container{
		position: relative;
	}
	.activity-inner{ /*content, photos, etc.*/
		background: #f4f4f4;
		border: 1px solid #ccc;
		margin: 5px 0px 5px 60px; /*width of avatar + 10px*/
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		padding:0px 10px;
		p{
			margin:0.5625em 0em;
		}
		p a{
			display:block;
			margin: 5px 0px;
			color:#808080;
			&:hover{
				color:#808080;
			}
			&:active{
				color:#808080;
			}
			img{
				display:block;
				max-width:100%;
				margin:10px auto;
			}
		}
	}
	.activity-meta{ /*Action buttons. Comment, Like, etc.*/
		padding-left: 60px; /*width of avatar + 10px*/
		margin:0.5em 0em;
		.delete-activity{
			position: absolute;
			display:inline-block;
			font-family: $fontTitle;
			font-weight: 300;
			letter-spacing: 1px;
			font-size: 0.8em;
			text-transform: uppercase;
			cursor: pointer;
			padding-left: 0.9em;
			padding-right: 0.9em;
			padding-top: 5px; //best for SEARCH submit button
			padding-bottom: 5px;
			top: 0;
			right: 0;
			background-color:#CCC;
			color:#F4F4F4;
			&:hover{
				background-color: #AAA;
			}
			&:active{
				background-color: #444;
			}
		}
	}
	.activity-comments{ /*the comment thread*/
		margin-left: 60px; /*width of avatar + 10px*/
		ul{
			margin:0px;
			li{
				background: #f4f4f4;
				border: 1px solid #ccc;
				position: relative;
				margin-top: 5px;
				margin-bottom: 0.5em;
				box-sizing:border-box;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				-o-box-sizing:border-box;
				padding:10px;
				.acomment-avatar{
					width:32px;
					height:32px;
					float:left;
				}
				.acomment-meta, .acomment-content, .acomment-options{
					padding-left: 42px; /*width of comment avatar + 10px*/
					margin-bottom: 0.5625em;
				}
				ul li{
					border:none;
					border-top: 1px solid #ccc;
					padding:10px 0px 10px 10px;
				}
			}
		}
		.ac-reply-avatar{ /*your avatar when you are replying to a comment*/
			float:left;
			img{
				width:32px;
				height:32px;
			}
		}
		.ac-reply-content{ /*the textarea when you reply to a comment*/
			padding-left: 42px; /*width of reply avatar + 10px*/
		}
		.acomment-delete{ /*delete comment button*/
			position: absolute;
			top: 0;
			right: 0;
			background-color:#CCC;
			color:#F4F4F4;
			&:hover{
				background-color: #AAA;
			}
			&:active{
				background-color: #444;
			}
		}
	}
}


/****************************************
	BROWSE - TATTOOS
****************************************/

.browse-pagination{
  margin:0 auto;
  font-size: 1.2em;
  width:250px;
  border-top: 1px solid #CCC;
  padding-top: 10px;
  text-align:center;
}


.actionbar-image{
	margin-top: 5px;
}

.activity-meta{ /*holds the comment and fav button below images in the single image view*/
	height:25px;
}

/****************************************
	BP ALBUM GALLERY
****************************************/

.bp-media-gallery{
	h3{
		line-height: 1em;
	}
}

/*#bp-media-upload-ui .drag-drop-buttons input, //the upload media button
#bp-media-album-prompt input.button{
	color:white !important;
	margin: 0px 5px !important;
}
*/
/****************************************
	REGISTER PAGE
****************************************/

#signup_form{
	margin-top: 20px;
	.description{
		margin-bottom: 1.5em;
		@include font-size(13);
	}
}

/****************************************
	BLOG ARTICLES
****************************************/

.container-article{
	position:relative;
}

.container-article-content{
	margin-top: 313px;
	position: relative;
	z-index:50;
	section, aside{
		background:white;
	}
	aside{
		margin-top: 489px;
		article{
			position:relative;
			margin-bottom: 20px;
			height:185px;
			overflow: hidden;
		}
		a:nth-of-type(1){
			position: absolute;
			top:-50px;
		}
		.content{
			position: absolute;
			width:100%;
			height:30px;
			bottom:0px;
			background-color:rgba(0,0,0,0.6);
			.meta{
				display: none;
			}
			header{
			    position: absolute;
			    width: 100%;
			    bottom: -15px;
			    line-height: 30px;
			    h2 a{
			    	color:white;
			    	@include font-size(16);
			    }
			}
		}
		footer{
			display: none;
		}
	}
	.subpage{
		padding: 0px 50px;
		position:relative;
		.th_logo_article{
			background:url('images/th_logo_article.png') no-repeat top right;
			width:32px;
			height:32px;
			position: absolute;
			top:8px;
			right:8px;
		}
	}
	.col_1of3{
		width: 100%;
	}
}

.article-banner{
	position:absolute;
	z-index:-1;
	top:-157px;
	left:0;
	img{
		width:100%;
	}
}

.article-title{
	text-transform: uppercase;
	font-size: 3.5em;
	line-height: 1.2;
	margin:40px 0px;
}