@import url(http://fonts.googleapis.com/css?family=Lobster|Oswald:400,300|Open+Sans+Condensed:300,Open+Sans:300);

@font-face {
  font-family: 'arrows';
  src:url('fonts/entypo.eot');
  src:url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
    url('fonts/entypo.woff') format('woff'),
    url('fonts/entypo.ttf') format('truetype'),
    url('fonts/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}

.arrowfont{
  font-family: 'arrows';
}

body { 
  background: #ffffff; -webkit-backface-visibility: hidden;
  font-family: 'Open Sans Condensed', sans-serif;
  // font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  /*font-size: 110%;*/
  padding-top: 40px;
  
  @media (max-width: $mamabear){
	  padding-top: 0;
  }
 }

.main-header { 
	min-height: 40px; 
	background: #000; 
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	
	
	.container{
		@media (max-width: $mamabear){
			text-align: center;
		}
	}
	
  .tag {
    font-size: (13/16) +em;
    line-height: 1em;
    color: #ddd;
    font-weight: 300;
    float: left;
    margin-top: 6px;
    @media (max-width: $mamabear) {
    	display: none;
    }
  }
}

$logo_large_w: 297;
$logo_large_h: 191;
	
.logo{
	//original
	display: inline-block;
	margin: 3px 0 0;
	@media (max-width: $mamabear){
		float: none; 
		display: inline-block;
	}
    @media (max-width: $papabear){
    	&.grid_2{ width: 140px; }
    }
    
    a{ overflow: hidden;  line-height: 0; display: block;
		svg{ width: 100%; }
		&.small{ }
		&.medium{ }
		&.large{ 
			> svg{ 
				@media (max-width: $mamabear){
					height: 80px; width: 420px;
				}
				@media (min-width: $papabear){
					height: 45px;
				}
			}
		}
		&.black{ > svg{ fill: #000; } }
		&.white{ > svg{ fill: #fff; } }
		
	}
}

.main-nav { 
  ul {
    list-style: none;
    margin: 0;
    @media (max-width: $mamabear){
      float: none;
      margin-top: 20px;
    }
    li {
      float: left;
      font-size: 103%;
      margin: 0 10px;
      position: relative;
      @media (max-width: $mamabear){
        float: none;
        margin: 0;
      }

      &:hover ul.sub-menu,&:active ul.sub-menu {  
        top: 40px;
        opacity: 1;
      }
      @media (min-width: $mamabear){
	      ul.sub-menu { 
	        position: absolute;
	        top: -600px;
	        opacity: 0;
	        left: 0;
	        padding: 10px;
	        background: rgba(0,0,0,0.8);
	        width: 144px;
	        
	        @include transition(opacity, .3s, ease);
	        
	        li {
	          padding: 0;
	          line-height: 1em;
	          float: none;
	        }
	        a {
	          line-height: 20px;
	          padding: 0;
	        }
	        hr { border: none; border-top: 1px solid #555; padding: 0; margin: 4px 0; }
	      }
	  }
      a {
        line-height: 40px; 
        display: block;
        color: #fff;
        padding: 0 10px;
        text-transform: uppercase;
        &:hover, &:active {
          color: #aaa;
        }
      }
    }


  }
  .user-options {
    position: relative;
    &:hover ul {  
      top: 40px;
      opacity: 1;
    }
    //img { margin-top: 10px; }
    ul { 
      position: absolute;
      top: -600px;
      opacity: 0;
      right: 0;
      padding: 10px 14px;
      background: rgba(0,0,0,0.8);
      width: 200px;
      @include transition(opacity, .3s, ease);
        
      li {
        padding: 0;
        line-height: 1em;
        float: none;
      }
      a {
        line-height: 20px;
        padding: 0;
      }
      hr { border: none; border-top: 1px solid #555; padding: 0; margin: 4px 0; }
    }
  }
}

.feature {
  /*.slides {
    list-style: none;
    margin: 0;
    height: 550px;
    li {
      height: 550px;
    }
  }*/
  .artist { 
    background: rgb(128,214,191);
    background: -moz-radial-gradient(75% 60%, ellipse cover,  rgba(128,214,191,1) 0%, rgba(4,71,116,1) 100%);
    background: -webkit-radial-gradient(75% 60%, ellipse cover,  rgba(128,214,191,1) 0%,rgba(4,71,116,1) 100%);
    background: -o-radial-gradient(75% 60%, ellipse cover,  rgba(128,214,191,1) 0%,rgba(4,71,116,1) 100%);
    background: -ms-radial-gradient(75% 60%, ellipse cover,  rgba(128,214,191,1) 0%,rgba(4,71,116,1) 100%);
    background: radial-gradient(ellipse at 75% 60%,  rgba(128,214,191,1) 0%,rgba(4,71,116,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80d6bf', endColorstr='#023745',GradientType=1 );
  }
  .shop {
    .logo { 
      display:none;
      margin-top: 70px;
      @media (max-width: $mamabear) {
        margin-top: 30px;
      }
    }
    h5 {
      text-align: center;
      margin: 15px 0;
      span {
        text-transform: uppercase;
        color: #fff;
        font-weight: 300;
        font-size: (20/16) +em;
        /*text-shadow: 0 0 3px rgba(0,0,0,0.8);*/
        @include text-shadow(0, 1px, 3px, rgba(0,0,0,0.3));
        display: inline-block;

      }
    }

  }
  .container { position: relative; }
  h2 { 
    color: #fff;
    font-size: (60 / 16) + em;
    line-height: 1em;
    margin: ((10 / 16) + em) 0 0;
    /*text-shadow: 2px 2px 5px rgba(0,0,0,0.75);*/
    @include text-shadow(0, 1px, 3px, rgba(0,0,0,0.3));
    letter-spacing: 1px;
    @media (max-width: $mamabear){
      font-size: (45/16) +em;
    }
  }
  h3 {
    color: #fff;
    font-size: (28 / 16) + em;
    line-height: (32 / 28) + em;
    //text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
    @include text-shadow(2px, 2px, 2px, rgba(0,0,0,0.75));
    
    letter-spacing: 1px;
  }
}
.feature .flex-control-thumbs {
  position: absolute;
  bottom: 0;
  padding: 10px 30px;
  text-align: left;
  .details { 
    float: left;
    width: 48%;
    h3 { font-size: (18/16) +em; font-weight: 300; text-transform: uppercase; margin-bottom: 2px; }
    p { color: #fff; font-size: 1em; 
    //text-shadow: 1px 1px 1px rgba(0,0,0,0.5); 
    @include text-shadow(1px, 1px, 1px, rgba(0,0,0,0.5));
    margin-bottom: 0; line-height: 1.25em; }
  }
  figure {
    margin: 0 10px 0 0;
    padding: 0;
    width: 105px;
    height: 70px;
    overflow: hidden;
    display: inline-block;
    float:left;
  }
}

.feature-articles { margin-top: 60px; margin-bottom: 20px;
	header {  border-top: 1px solid #333; position: relative; text-align: center; width: 50%; margin: 0 auto; }
	h2 { font-family: 'Lobster', cursive; font-size: (30/16) +em; position: relative; top: -30px; background: #fff; display: inline-block; padding: 0 20px; height: 30px;}
	h3 { text-transform: uppercase; color: #333; line-height: (30/22) +em; margin-bottom: 8px;}
	ul { list-style: none; margin: 0; }
	.shop, .location { text-transform: uppercase; font-size: (14/16) +em; color: #000; }
	.portfolio-link { margin: 10px 0 0; float: right; color: #777; text-decoration: underline; text-transform: uppercase; font-size: (13/16) +em; }
}

.browse, .blog_posts {
  margin: 20px;
  @media (max-width: $mamabear){
	  margin-left: 0;
	  margin-right: 0;
  }
  float: none;
  display: block;
  
  h2 { 
    text-transform: uppercase; 
    color: #000; 
    font-size: (30/16) +em; 
    line-height: 1em;
    font-weight: 300;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: -1px;

  }
  ul { margin: 0; }
}

.browse-list { 
  list-style: none;
  margin: 0;
  li {
    margin-bottom: 20px;
  }
  .details {
    margin-top: 10px;
    color: #000;
  }
  .title { 
    text-transform: uppercase;
    font-size: 1em;
    float: left;
    a { 
      color: #000;
      &:hover {
        color: #555;
      }
    }
  }
  .artist {
    font-size: 1em;
    float: right;
    a { 
      color: #000;
      &:hover {
        color: #555;
      }
    }
  }
  .views { 
    margin-top: 5px;
    font-size: (14/16) +em; 
  }
  .actionbar-image{
    a:hover {
      color:white;
    }
  }
}

.browse-nav {
  ul { 
    margin: 20px 0; 
    list-style: none; 
    text-align: center; 
  }
  li { 
    display: inline-block; 
    line-height: 40px;
    padding: 0 20px;
    a {
      padding: 4px 8px;
      color: #000;
      text-transform: uppercase;
      letter-spacing: 1px;
      
      @include transition(background-color, .3s, ease);
      //-webkit-transition: background-color .3s ease;
      
      &:hover {
        background: #000;
        color: #fff;
      }
      &.active {
        background: #000;
        color: #fff;
      }
    }
  }
}


.post { 
  margin-top: 10px;
  margin-bottom: 10px;
  .content { 
    padding: 20px 0 10px;
    
  }
  h2 {  
    text-transform: uppercase;
    font-weight: 300;
  }
  .meta {  
    font-size: (14/16) +em;
    color: #777;
  }
  .excerpt { 
    margin: 10px 0;
  }
}


.members {
  .search {
    position: relative;
    margin-top: 20px;
    #members_search_submit {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}




.main-footer {
  /*min-height: 300px;*/
}


.login, .register { 
  h1 { margin: 20px 0; }
  .forgot-login { 
    color: #222; text-decoration: underline; @include font-size(14); margin-top: 9px;
    &:hover {
      color: $green;
    }
  }
  form {
    margin-bottom: 20px;
  }
  .oneall_social_login {
    margin-right: -140px;
    margin-top: 20px;
    }

}

/*******************
   BUTTONS
*******************/

.btn,
.btn.active,
.btn.disabled,
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="reset"].btn,
input[type="button"].btn,
input[type="submit"].btn,
input[type="reset"].btn.active,
input[type="button"].btn.active,
input[type="submit"].btn.active,
input[type="reset"].btn.disabled,
input[type="button"].btn.disabled,
input[type="submit"].btn.disabled,
a.friendship-button, /*Buddypress button classes*/
.generic-button a,
.activity-content .button{                       
  @include border-radius(0px);
  @include box-shadow-none();
  @include text-shadow-none();
  @include transition(all, 0.2s, ease);
          
  color: white;
  background: black;
  border: none;
  font-family: $fontTitle;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  padding-left: 0.9em;
  padding-right: 0.9em;
  padding-top: 5px; //best for SEARCH submit button
  padding-bottom: 5px;
  &:hover{
    background-color:#444;
    @include text-shadow-none();           
  }
  &:active{
    background-color:#444;
  }
}

.btn-small,
.btn-mini{
  letter-spacing: 1px;
}


.btn-primary,
.btn.btn-primary,
input[type="reset"].btn-primary,
input[type="button"].btn-primary,
input[type="submit"].btn-primary,
a.friendship-button.add,
.generic-button .btn-like{
  @include btnGreen;
}

/****might want to change ACTIVE buttons****/

/*input[type="reset"].btn-primary.active,
input[type="button"].btn-primary.active,
input[type="submit"].btn-primary.active{
  background-color:$green;  
  color:white;
  &:hover{
    background-color:$darkGreen;
    color:white;
  }
  &:active{
    background-color:$darkGreen;
    color:white;
  }
}*/

.btn.disabled,
input[type="reset"].btn.disabled,
input[type="button"].btn.disabled,
input[type="submit"].btn.disabled{
   @include btnDisabled;
}

a.friendship-button.remove,
.btn.remove{
  background-color:#ED5555;
  &:hover, &:active{
    background-color:#C94040;
    color:white;
  }
}

a.friendship-button,   /*buddypress button classes*/
.generic-button a{
  /*font-size: 0.7em;*/
  @include font-size(14);
  display:inline-block;
}

/*******************
   TYPOGRAPHY
*******************/

h1, h2, h3, h4, h5, h6{
  font-family: $fontTitle;
  font-weight: 400;
  /*text-transform: uppercase;*/
}

strong{
  font-weight: 400;
}
.uppercase { text-transform: uppercase; }

/*******************
   LAYOUT
*******************/

.verticalSpacer{
    margin-top:1.5625em;
    margin-top:1em;
}

.spacer{
	margin: 0 auto;
	//max-width: 1400px;
}


/*******************
   FORMS
*******************/

textarea{
  max-width:100%;
}

.standard-form{
  max-width:480px;
}

.txt-small{
  font-size:0.8em;
}

#avatar-crop-pane img { max-width: none !important; }

/*******************
   BP NOTIFICATIONS
*******************/

.info{
  max-width: 100%;
}

/*******************
   PROFILE MENU
*******************/

.member-options-nav { 
  position: absolute; top: 0; right: 0; 
  ul { margin: 0px; list-style: none; }
  li {
    text-transform: uppercase;
    position: relative;
    padding: 10px 0;
    @include font-size(18);
    .dropdown {  
      display: none;
      list-style: none;
      min-width: 120px;
      position: absolute;
      text-align: right;
      top: 40px;
      right: 0;
      margin: 0;
      padding: 10px 20px;
      @include box-shadow(0, 1px, 3px, rgba(0,0,0,0.3));
      background: #fafafa;
      li { padding: 0; @include font-size(16); }
      &:before {
        content: '';
        position: absolute;
        top: -19px;
        right: 5px;
        width: 0;
        height:0;
        border: 10px solid transparent;
        border-bottom: 10px solid #fafafa;
        -webkit-filter: drop-shadow(0 -1px 1px rgba(0,0,0,0.1));

      }
    }
    &:hover {
      cursor: default;
      .dropdown { display: block; }
    }
  }
  li.btn-profilemenu{
      padding:10px 12px 10px 8px;
      background: black;
      color: white;
  }
}

#group-admins,
#group-mods{
  list-style: none;
  margin: 0;
  li {
    display: inline-block;
    margin: 0 10px 0 0;
  }
}


.single-image {
  margin-top: 40px;
  margin-bottom: 40px;
  .vlc {   
    .btn {
      margin: 10px 5px 10px 0;
      display: inline-block;
    }
  }
  .meta { 
    .tags { margin: 5px 0; @include font-size(14); }
  }
  .image-details, .artist-details {
    margin-bottom: 20px;
    .title { margin-bottom: 5px; }
    .avatar { margin-right: 5px; }
  }
  .image-details .avatar { width: 60px; }
  .artist-details .avatar { width: 90px; }
}







