@font-face {
	font-family: 'Conv_Wisdom Script AJ';
	src: url('fonts/Wisdom Script AJ.eot');
	src: local('?'), url('fonts/Wisdom Script AJ.woff') format('woff'), url('fonts/Wisdom Script AJ.ttf') format('truetype'), url('fonts/Wisdom Script AJ.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


.more{ width: 100%; text-align: center;	
	a { @include btnGreen;
		@media (max-width: $mamabear){
			font-size: 1.2em;
			padding: 10px 20px;
		}
	}
}




// front page image banner //

.spacer .imageBanner{ background: rgb(37, 37, 37);
	a{	visibility: hidden; }
}

.spacer #loader{ width: 100%; background: rgb(37, 37, 37);	
	#load{ width: 80px; opacity: 0.3; margin: 0 auto; display: block; }
}
	
.flexslider{ padding-top:40px;
	.slides{
		a img{ width: 100%; height: auto; }	
	}
	
	@media (max-width: $mamabear){ margin: 0 !important; padding-top: 0; }
}

.feature { background: rgba(0, 0, 0, 0.8);	
	.flex-control-thumbs { position: relative; margin: 0 auto; padding: 10px; width: 960px;
		li{ padding-left: 0; width: 33%; }
		
		@media (max-width: $mamabear){
			padding: 10px 0;
			
			li{ width: 31%; margin-left: 10px; }
			.details{ width: 100%; }	
			figure { margin: 0 0 10px 0; width: auto; height: auto; }
		}
		@media (max-width: $littlebear){
			li{ width: 30%; }
		}
	}
}

.feature-articles, .browse, .footerContent{ display: block; float: none; margin: 60px auto !important; width: 960px; padding: 0 10px; }

.blog_posts{ margin-left: auto; margin-right: auto; margin-top: 60px; text-align: center; padding: 0 10px;
	h2{ margin-top: 0 !important; }
	.blog-posts{ text-align: left;
		h2{ text-align:left; }
		article{ float: none; display: inline-block; vertical-align: top; margin: 0 0.5% 26px 1%;
			a{ display: inline-block; width: 100%; overflow: hidden;
				@media (min-width: $mamabear){ max-height: 227px; }
				@media (min-width: $papabear){ max-height: 300px; }
				
				img{ width: 100%; }
			}
		}
	}
}

.browse{ text-align: center; }

.feature-articles {
	@media (max-width: $mamabear){ margin-left: 0px; margin-right: 0px;	}
	
	.meta .date{ margin-bottom: 8px; text-transform: uppercase; color: #000; }
	
	header {
		@media (max-width: $littlebear){ width: 100%;
			h2 { width: 100%; }		
		}
	}
	
	.post{
		h3 a{ height: auto; overflow: visible; font-weight: 100; font-size: 1.3em; }
		a{ display: block; max-height: 260px; overflow: hidden;
			img{ width: 100%; margin-top: -6%; }
		}
		.content{
			@media (max-width: $mamabear){ padding: 20px 20px 10px; }	
		}
	}
}

@media (max-width: $mamabear){
	.feature .flex-control-thumbs, .feature-articles, .browse, .footerContent {	width: auto; }
}

@media (max-width: $papabear) and (min-width: 768px){
	.feature .flex-control-thumbs, .feature-articles, .browse, .footerContent { width: 724px; }
}

// end front page image banner //

.tattoo-search{ width: 307px; margin: 0 auto;
	@media (max-width: $littlebear){ 	width: 60%; }
	@media (max-width: $babybear){ 		width: 90%; }
}
.browse-nav li {
	@media (max-width: $littlebear){ padding: 0 6px; }
}
.browse-list li {
	@include box-shadow(0, 1px, 5px, rgba(0,0,0,0.2));
	
	a{ display: block; max-height: 200px; overflow: hidden; }
	img{ width: 100%; height: auto; }
	
	.details{ padding: 10px;
		.view{ margin-bottom: 6px; }
		.right > a{ display: inline-block; }		
	}	
	
	@media (max-width: $mamabear){
		margin-bottom: 40px;		
		a{	max-height: 400px; }	
	}
	
	@media (min-width: $mamabear){
		a{ max-height: 155px;}
	}
	@media (min-width: $papabear){
		a{ max-height: 198px;}
	}
}

#sidebar{
	.post{
		a, a img{ width: 100%;}
	}
}
.container{
	@media (min-width: $mamabear){
		width: 770px;
		.container-article-content aside{
			margin-top: 260px;
		}
	}
	@media (max-width: $mamabear){
		width: 100%;
		.container-article-content{ padding-left: 20px; padding-right: 20px; background: #fff; overflow: auto;
			aside{
				margin-top: 0;
			}
		}
	}
	@media (min-width: $papabear){
		width: 960px;
		.container-article-content aside{
			margin-top: 489px;
		}
	}
	.container-article-content{ overflow: hidden;
		aside h2{ margin-top: 0 !important; padding-left: 6px; }
	}
}

.subpage h2{
	margin-top: 20px;	
}

.main-nav{
	ul{
		li{
			a{ display: inline-block; }
			
			&.btnUpload{							
				a{	@include btnGreen;}
			}
			
			&.deleteLocation{ margin-left: -10px; margin-right: 10px;
				input[type="submit"]{ background: #555; color: #fff; @include box-shadow-none(); 
					&:active, &:hover{ background-color: #ccc; }
				}
			}
			.caret{
				display: inline-block;
				width: 0;
				height: 0;
				vertical-align: top;
				border-top: 4px solid #fff;
				border-right: 4px solid transparent;
				border-left: 4px solid transparent;
				content: "";
				border-bottom-color: #ffffff;
				margin-top: 18px;
			}
			@media (min-width: $mamabear){
				margin: 0;
				
				.caret{
					display: none;
				}
			}
		}
	}
	@media (max-width: $mamabear){
		height: 0;
		overflow: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		ul.left{
			
		}
		
		ul.right{
			border-top: solid 1px #555;
			padding-top: 10px;
			text-align: right;
			margin: 20px 2% 0;
			
			li{
				display: inline-block; vertical-align: top;
				//&.location{ vertical-align: top; }
				&.btnUpload{ float: left; }
			}
			
			ul#u-options{
				display: inline-block;
				margin: 0;
				opacity: 1;
				position: relative;
				top: 0;
				background: transparent;
				#profile, hr{ display: none; }
				li{ display: inline-block; margin-right: 13px; }
			}
		}
		
		ul.sub-menu {
			height: 0;
			overflow: hidden;
			top: auto;
			left: auto;
			float: none;
			max-width: none;
			padding: 0;
			margin: 0 10px;
			background-color: $green;
			border: none;
			@include border-radius-none();
			
			li{
				@include btnGreen;
				
				a{
					&:hover, &:active{
						color: white;
					}
					line-height: 30px;
				}
			}
		}
	}
	
	.menu-item.collapse, .collapse{
		height: 0;
		overflow: hidden;
		
		@media (min-width: $papabear){
			height: auto !important;
			overflow: visible !important;
		}
	}
}

.btn-navbar{
	@media (max-width: $mamabear){
		display: block;
		margin-top: 9px;
		background: transparent;
	}
}
.main-header{
	@media (max-width: $mamabear){
		position: static;
	}
}

.single{
	.single-image{
		h2{ margin-top: 0; }
		img{ width: 100%; }
		.socials{ margin-bottom: 8px; }
	}
}

.collapse{	
	@include transition(height, .3s, ease);		
	
	.in{
		height: auto;
	}
	
	/*.open > .dropdown-menu {
		display: block;
	}*/
}

.th_list{
	min-height: 226px;
}

.commentlist{
	list-style-type: none;
	margin-left: 0;
		
	.comment{
		.avatar{ width: 10% !important;}
	}
}

//TEXTFIELDS, CHECKBOXES, SELECTIONS, OPTIONS ...ALL THAT JAZZ
input[type=email], input[type=text], input[type=submit], input[type=password], input[type=textarea], textarea, input[type="radio"] + label::before, input[type="checkbox"] + label::before { @include box-shadow(0, 1px, 5px, rgba(0,0,0,0.2), inset); @include border-radius-none(); border: none; font-family: $fontTitle; 
	&:focus{ outline: 0; border-color: #73a333; @include box-shadow(0, 0px, 5px, #73a333); }
}
	.tattoo-search button[type=submit] { margin-right: -1px; }

input[type="checkbox"] { position: absolute; left: -999em; }
	input[type="radio"] + label, input[type="checkbox"] + label {  @include transition(all, 0.3s, ease); position: relative; overflow: hidden; cursor: pointer; padding-top: 2px;
	    &::before { content: ""; display: inline-block; height: 2.2ex; width: 2.3ex; background-color: white; margin-right: 0.5em; }    
	}
	input[type="checkbox"]:hover + label::after, input[type="checkbox"]:checked + label::after {content: ''; position: absolute; width: 1.5ex; height: 0.5ex; background: transparent; margin: auto; top: 0; left: 0; right: 0; bottom: 0; margin-left: 2px; @include rotateDeg(-45deg);}
	input[type="checkbox"]:hover + label::after { 	border: 3px solid #b8ca9f; border-top: none; border-right: none; }
	input[type="checkbox"]:checked + label::after { border: 3px solid #759749; border-top: none; border-right: none; @include transition(border, 0.5s, ease);}

select{ @include box-shadow(0, 1px, 5px, rgba(0,0,0,0.4)); @include border-radius-none(); border: none; position: relative; height: 33px; line-height: 28px; text-transform: uppercase; padding-left: 8px; @include transition(background, 0.2s, ease);
	&:hover, &:focus{ cursor: pointer; outline: 0; background-color: #444; color: #fff; @include box-shadow(0, 0px, 5px, rgba(0,0,0,0.6)); }	
	@media screen and (max-width:767px) {  width: 100%; max-width: 100%; height: 45px; font-size: 18px; }
}


//DROPDOWN FIELD ATISTS
.ui-widget-content{
	&.ui-menu{ padding: 0; background: none; }
	&.ui-corner-all{ @include border-radius(0); }
	background: #fff !important; border: none !important;	 @include box-shadow(0, 1px, 5px, rgba(0,0,0,0.4));  width: auto; padding: 0;
	li.ui-menu-item a{ padding: 4px 6px; line-height: 19px; font-size: 12px; font-family: $fontTitle; background: none;
		&.ui-corner-all{ @include border-radius(0); }
		&.ui-state-focus, &:active{ background: #555; color: #fff; }
	}	
}

.jcrop-holder{ background-color: rgba(0, 0, 0, 0.5) !important;
	&>div{ background-color: #fff; 
		&.jcrop-tracker{ background: none; }
	}	
}
	


.sbHolder { @include box-shadow(0, 1px, 5px, rgba(0,0,0,0.4)); @include border-radius-none(); border: none; position: relative; height: 33px; line-height: 28px; text-transform: uppercase; padding: 0; margin-bottom: 9px; @include transition(background, 0.2s, ease);
	&:active, &:hover, &.focus > a, &.sbToggleOpen > a{ background-color: #444; color: #fff; }
	
	.sbOptions{ @include box-shadow(0, 1px, 5px, rgba(0,0,0,0.4)); background-color: #fff; list-style-position: inside; list-style-type: none; margin: 0; 
		li{ 
			a{ width: 100%; display: inline-block; padding-left: 8px; line-height: 33px;
				&:active, &:hover{ }
			}
		}
	}
	.sbSelector{ padding: 4px 8px 1px; }
	.sbOptions a, .sbSelector{ color: #555; font-size: 13px;  font-family: "Helvetica Neue", Arial, sans-serif; font-weight: normal; display: inline-block; width: 100%; 
		&:active, &:hover{ background-color: #444; color: #fff; }
	}
	
	.sbToggle{ display: block; position: absolute; height: 30px; width: 30px; background: url('images/select-icons.png') 0 -116px no-repeat; outline: none; right: 3px; top: 1px;
		&:hover{ background-position-y: -167px; }
	}
	
	.sbToggleOpen{ background-position-y: -17px; 
		&:hover{ background-position-y: -67px; }
	}
}



/*Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.1.0
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/

/* @group Base */
.chosen-container { font-family: "Helvetica Neue", Arial, sans-serif; @include box-shadow(0, 1px, 5px, rgba(0,0,0,0.4)); @include border-radius-none(); border: none; position: relative; height: 33px; line-height: 28px; text-transform: uppercase; padding: 0; margin-bottom: 9px; @include transition(background, 0.2s, ease); display: inline-block; vertical-align: middle; font-size: 15px;	zoom: 1; *display: inline; 	-webkit-user-select: none;	-moz-user-select: none;	user-select: none; width: 100%;
	
	
	.chosen-drop { position: absolute; top: 100%; left: -9999px; z-index: 1010; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; @include box-shadow(0, 1px, 5px, rgba(0,0,0,0.4)); }
	
	&.chosen-with-drop .chosen-drop { left: 0; }
	a { cursor: pointer; }
}
/* @end */
/* @group Single Chosen */
.chosen-container-single{ font-family: "Helvetica Neue", Arial, sans-serif;
	.chosen-default { color: #999; }
	.chosen-single{ color: #555; font-size: 13px; font-weight: normal; display: inline-block; width: 100%; 
		&:active, &:hover{ background-color: #444; color: #fff; }
		
		span { overflow: hidden; margin-right: 33px; white-space: nowrap; line-height: 33px; padding-left: 8px; }
		.chosen-single-with-deselect span { margin-right: 38px; }
		abbr { position: absolute; top: 6px; right: 26px; display: block; width: 12px;  height: 12px; background: url('images/select-icons.png') -42px 1px no-repeat; font-size: 1px; 
			&:hover { background-position: -42px -10px; }
		}
		
		div { display: block; position: absolute; height: 30px; width: 30px; outline: none; right: 3px; top: 1px;
			b { display: block; width: 100%; height: 100%; background: url('images/select-icons.png') 0 -116px no-repeat;
				&:hover{ background-position-y: -167px; }
			}
		}
	}
	
	&.chosen-disabled .chosen-single abbr:hover { background-position: -42px -10px; }
	
	.chosen-search { position: relative; z-index: 1010; margin: 0; padding: 3px 4px; white-space: nowrap; 
		input[type="text"] { margin: 1px 0; padding: 4px 20px 4px 5px; display: inline-block; width: 100%; max-width: 100%; height: auto; }	
	}
	
	.chosen-add{ display: inline-block; float: right; margin-top: 2px; }
	
	.chosen-drop { margin-top: -1px; background-color: #fff; background-clip: padding-box; }

	&.chosen-container-single-nosearch .chosen-search { position: absolute; left: -9999px; }
}
/* @end */

/* @group Results */
.chosen-container .chosen-results { position: relative; overflow-x: hidden; overflow-y: auto; margin: 0; padding: 0; max-height: 240px; -webkit-overflow-scrolling: touch; font-family: "Helvetica Neue", Arial, sans-serif;
	li { display: none; margin: 0; padding: 5px 8px; list-style: none; line-height: 28px; -webkit-touch-callout: none;
		&.active-result { display: list-item; cursor: pointer; }
		&.disabled-result { display: list-item; color: #ccc; cursor: default; }
		&.highlighted { background-color: #555; color: #fff; }
		&.no-results { display: list-item; background: #f4f4f4; }
		&.group-result { display: list-item; font-weight: bold; cursor: default; }
		&.group-option { padding-left: 15px; }
		em { font-style: normal; text-decoration: underline; }
	}
}
/* @end */

/* @group Multi Chosen */
.chosen-container-multi{
	.chosen-choices { position: relative; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; width: 100%; height: auto !important; height: 1%; border: 1px solid #aaa; background-color: #fff; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff)); background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%); background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%); background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%); background-image: linear-gradient(#eeeeee 1%, #ffffff 15%); cursor: text;
		li { float: left; list-style: none;
			&.search-field { margin: 0; padding: 0; white-space: nowrap;
				input[type="text"] { margin: 1px 0; padding: 5px; height: 15px; outline: 0; border: 0 !important; background: transparent !important; box-shadow: none; color: #666; font-size: 100%; font-family: sans-serif; line-height: normal; border-radius: 0; }
				.default { color: #999; }
			}
		
			&.search-choice { position: relative; margin: 3px 0 3px 5px; padding: 3px 20px 3px 5px; border: 1px solid #aaa; border-radius: 3px; background-color: #e4e4e4; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee)); background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-clip: padding-box; box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05); color: #333; line-height: 13px; cursor: default; 
	
				.search-choice-close { position: absolute; top: 4px; right: 3px; display: block; width: 12px; height: 12px; background: url('images/select-icons.png') -42px 1px no-repeat; font-size: 1px; 
					&:hover { background-position: -42px -10px; }
				}
			}
	
			&.search-choice-disabled { padding-right: 5px; border: 1px solid #ccc; background-color: #e4e4e4; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee)); background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); color: #666; }

			&.search-choice-focus { background: #d4d4d4;
				.search-choice-close { background-position: -42px -10px; }
			}
		}
	}
	
	.chosen-results { margin: 0; padding: 0; }
	.chosen-drop .result-selected { display: list-item; color: #ccc; cursor: default; }
}
/* @end */

/* @group Active  */
.chosen-container-active{
	.chosen-single { //border: 1px solid #5897fb; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
	}
	span{ height: 100%; }
	&.chosen-with-drop .chosen-single { background-color: #444; color: #fff; margin-right: 33px;
		div b{ 		 background-position-y: -17px;
			&:hover{ background-position-y: -67px; }
		}
	}

	.chosen-choices { border: 1px solid #5897fb; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		li.search-field input[type="text"] { color: #111 !important; }
	}
}

/* @end */
/* @group Disabled Support */
.chosen-disabled { opacity: 0.5 !important; cursor: default;
	.chosen-single { cursor: default; }
	.chosen-choices .search-choice .search-choice-close { cursor: default; }
}

/* @end */
/* @group Right to Left */
.chosen-rtl { text-align: right;
	.chosen-single { overflow: visible; padding: 0 8px 0 0;
		span { margin-right: 0; margin-left: 26px; direction: rtl; }
		div { right: auto; left: 3px; }
		abbr { right: auto; left: 26px; }
	}
	.chosen-single-with-deselect span { margin-left: 38px; }
	
	.chosen-choices{ 
		li { float: right;
			&.search-field input[type="text"] { direction: rtl; }
			&.search-choice { margin: 3px 5px 3px 0; padding: 3px 5px 3px 19px;
				.search-choice-close { right: auto; left: 4px; }
			}
		}
	}

	&.chosen-container-single-nosearch .chosen-search, .chosen-drop { left: 9999px; }
	
	.chosen-container-single{
		.chosen-results { margin: 0 0 4px 4px; padding: 0 4px 0 0; }
		.chosen-single div b { background-position: 6px 2px; }
		.chosen-with-drop .chosen-single div b { background-position: -12px 2px; }
	}
	
	.chosen-results li.group-option { padding-right: 15px; padding-left: 0; }
	.chosen-container-active.chosen-with-drop .chosen-single div { border-right: none; }
	.chosen-search input[type="text"] { padding: 4px 5px 4px 20px; background: white url('chosen-sprite.png') no-repeat -30px -20px; direction: rtl; }
}
/* @end */

/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
	.chosen-rtl .chosen-search input[type="text"],
	.chosen-container-single .chosen-single abbr,
	.chosen-container-single .chosen-single div b,
	.chosen-container-single .chosen-search input[type="text"]
	.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
	.chosen-container .chosen-results-scroll-down span,
	.chosen-container .chosen-results-scroll-up span {
		background-image: url('chosen-sprite@2x.png') !important;
		background-size: 52px 37px !important;
		background-repeat: no-repeat !important;
	}
}
/* @end */


//Social Login Override
.socialLogin{ height: 37px; overflow: hidden; margin: 6px 94px 0!important; display: inline-block; width: 140px; }
.plugin #providers .provider{
		#button_facebook { background: url('/images/facebook.gif') 0 0 !important; }
		#button_twitter  { background-position: 50% -67px !important; }
	}
	
.plugin #providers .provider {
float: left;
width: 120px;
}
		
//REGISTRATION / LOGIN PAGE
.page-template-template-login-php, .registration{ background: #eaf1ee;	}

.login, .register{ form{ margin-bottom: 0; }}

.login, .registerbox{ padding: 6px 0 0; 
	#slogan{ position: absolute; margin: 320px 0  0 -20px; width: 560px; }	
	.grid_5{ width: 400px; padding: 30px 40px; background: #fff; @include box-shadow(0, 0px, 50px, rgba(0,0,0,0.4)); @include border-radius(5px); }
	#terms, #privacy{ text-align: center; display: none;
		.content{ text-align: left; }
		#close{ margin-top: 20px; }
	}
	
	.pre{ width: 322px;	
		img{ display: block; }
	}
	.pre, form{
		h2{ margin: 0; text-align: center; font-size: 12pt; line-height: 15pt; margin-top: 9px; text-transform: uppercase;}
		img, .login, div { margin: 0 auto; }
		
		select{ text-transform: uppercase; }
		
	
		//WP-Social-Login
		#wp-social-login-connect-with{ display: none; font-weight: bold; } 
		#wp-social-login-connect-options{ padding: 0 !important; height: 58px;
			a{ text-decoration: none; margin: 0; display: inline-block;
				img{ margin-top: 7px; @include transition(opacity, .3s, ease); }
				&:hover img, &:active img{ opacity: 0.8; }
			} 
			
			#Facebook{ padding-right: 18px; margin-right: 18px; float: left; border-right: 1px solid #000; height: 58px; }	
		}
	}
	
	form{ 
		.login-section{ margin-top: 11px; }
		.login-section, .register-section{ width: 230px; text-transform: uppercase; font-family: $fontTitle;
			#terms, #privacy{ position: relative; width: 125px; margin: 13px auto 18px; font-size: 11pt !important;
				a{ font-size: 11pt; color: #404040; vertical-align: middle; 
					&:hover, &:active{ color: #759749;}
				}
				
				label, input[type="radio"], input[type="checkbox"] { line-height: 1.6ex; }
				
				input[type=text], input[type=password] { font-weight: bold; }
				
		  }
	   }
	}

	#signup_form{ text-align: center; margin-bottom: 0; margin-top: 6px;	   
	   .register-section{ display: inline-block; width:320px; padding: 0 45px; text-align: center;
		   label, div{ text-align: left; }
		   label { margin-bottom: 0; }
	   }
	   
		#basic-details-section{ margin-left: 0; }
	   .submit{ }
	   .description { margin-bottom: 0.6em; }
	   
	   .captcha{ margin-top: 4px;  
		   input[type="text"]{ margin: 0 0 4px; }
	   }
	   
	   #signup_submit{ margin: 20px auto 0; display: block; font-size: 16pt; letter-spacing: 1.2pt; }
	}
	   
	//warnings
	.alert{ margin: 10px 0 !important; width: auto;	}
	.error{ background: #f84d1d; color: #fff; padding: 7px; font-size: 10pt; }
	
	//terms
	.notice{ margin-top: 20px; font-size: 11pt; text-align: center; }
}

.login{ padding-top: 44px; } 


.ui-autocomplete-loading {
background: white url('images/ajax-loader.gif') right center no-repeat;
}
#th_location {width:200px; margin: 6px 10px 0;}
#clear-loc-pref{margin-top:6px;}

@media screen and (max-width:767px) {  
	.page-template-template-login-php .spacer, .registration .spacer{ background-image: none; }
	.registration, .login{
		.grid_5{ float: none; display: block; }
		#slogan{ display: none; }	
		.error{ margin: 3px 0 6px; }
		#terms, #privacy{ margin-top: 40px;}
	}
	
}

@media screen and (max-width: 979px) and (min-width: 768px){
	.registration #slogan{ width: 470px; margin-left: -64px; }
}

@media screen and (min-width:767px) {  
	
	.page-template-template-login-php, .registration{ 
		.spacer{ height: 763px;  background: #eaf1ee url("images/register.jpg") top center no-repeat; margin-bottom: -20px;	}
	}
	.registration, .login{
		.error{ position: absolute; @include box-shadow(0, 0px, 4px, #f84d1d); right: 330px; min-width: 200px; padding: 7px;	
			&::after { content: ""; display: inline-block; position: absolute; top: 0.5ex; right: -1.3ex; height: 2.5ex; width: 2.5ex; background-color: #f84d1d; @include rotateDeg(45deg); }    
		}
		#terms, #privacy{ position: absolute; width: 45%; height: 703px; 
			.content{ overflow: scroll; height: 94%; }
		}
	}
}

//PROFILE DETAILS - PAGE 1
.profile-details{ text-transform: uppercase; margin-bottom: 30px;
	h4{ font-weight: 300;}
	.pre{ display: inline-block; clear: both;}
		
	.article-banner{ top: -228px;
		.pd_slogan{ position: absolute; top: 440px; 
			.sub{ display: inline-block; height: 16px; width: auto; margin-top: 20px; }
		}
	}
	
	.col_1of3{ width: 31.33333333333333%; } //overridding Adam's settings
	
	.progressBox{ margin: 50px 0 30px; display: inline-block; width: 100%;
		.col_1of3{ position: relative; margin: 0; overflow: hidden; height: 60px;
			a{ z-index: 4; display: inline-block; width: 120px; margin: 0 14px; height: 46px; background-color: #fff !important; background-repeat: no-repeat !important; background-position: left top;}
		}
			#info{
				width: 26.33333333333333%;	
			 a{  width: 55px;  background-image: url('images/pd/quick_info.jpg'); background-position-x: left; margin-left: 0; }
			}
			#info.completed a{ background-image: url('images/pd/quick_info_sel.jpg'); }
			#share{
				width: 35.33333333333333%; 
				a{ width: 76px; background-image: url('images/pd/share_upload.jpg'); }
				.dot{ left: 103px; }
			}
			#share.completed a{ background-image: url('images/pd/share_upload_sel.jpg'); }
			#start{ overflow: visible;
				a{ width: 214px; background-image: url('images/pd/start_browsing.jpg'); margin-right: 0;}
			}
			
		.dot{ position: absolute; top: 16px; left: 69px; background: black; @include border-radius(50%); height: 12px; width: 12px; }
			.active{
				.dot{ display: inline-block; }
			}
			
			.completed{
				.dot, .line{ display: inline-block; border-color: #82b310;  background: #82b310; }
			}
			
		.line{ position: absolute; width: 100%; top: 21px; display: inline-block; border-top: 1px solid black; z-index: 3; }
	}
	
	.avatar{
		h4{ font-family: 'Open Sans', sans-serif; text-transform: uppercase; font-size: 13px; font-weight: normal; line-height: 13px; }
		div{ font-size: 12px; font-family: 'Open Sans', sans-serif; 
			p{ line-height: 1;	
				a.button{ display: none; }
			}
		}
		.profile-change-avatar, .standard-form{ max-width: 100%; margin-top: 20px;
			h5{ font-size: 1.125em; } 
			#avatar-crop-pane{ display: inline-block; height: 220px; width: 220px; }
			#avatar-crop-submit{ display: block; clear: both; margin: 10px 0 20px; }
			.jcrop-holder { margin: 0 20px 0 0; }
		}
	}
	
	
	#fields, #legal, .checkbox, #details_submit{ clear: both; }
	
	#fields { overflow: visible; display: block;
		#items{ margin-top: 20px; overflow: visible; }
		input, textarea, select { width: 90%; max-width: 90%; overflow: visible; }
		
		.editfield{ clear: both; overflow: visible;
			.field_content { margin-bottom: 20px; margin-left: 0;
				
			}
			label{ font-family: 'Open Sans', sans-serif; text-transform: uppercase;}	
		}
		.description, .description #member-type{ font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 12px; text-transform: uppercase; color: #606060; padding-top: 25px;
			&#member { padding-top: 0;}
		}	
	}
	
	.field_member-type{ 
		.sbHolder, .chosen-container{
			@media screen and (min-width:767px){ width: 90% !important; }
		}
	}
	
	#description{
		font-size: 18px;
		h3{ line-height: 1.3; }
		div{ font-size: inherit; }
	}
	
	#legal{ text-transform: uppercase; font-size: 80%; color: #606060; margin-bottom: 20px; padding-top: 20px;
		#pre { text-align: right; height: 33px; 
			.col_3of4{ padding-right: 1%; }
		}
		div, p{ font-size: 100%; }
		
		#text, .checkbox{ margin: 0 0 20px 0; }
		#text{ max-height: 400px; overflow: scroll; padding: 4px 10px; @include box-shadow(0, 1px, 3px, rgba(0,0,0,0.3), inset); @include border-radius-none(); font-family: $fontTitle; }
		
		#context{ width: 26%; margin-right: 0; 
			.indent{ display: inline-block; width: 30px; padding-bottom: 6px; border-top:1px solid #AAA; }
		}	
		
		.checkbox{
			.checkbox_input{ float: right; padding: 0 10px; margin: 0;  @include transition(all, 0.3s, ease); }
			label h2{ display: inline; text-decoration: underline; }
		}	
	}
	
	.profileButtons{ clear: both; 
		a, input { font-size: 16pt; letter-spacing: 1.2pt; }
		#details_submit{ float: right;  }
	}
	
	#message{ width: 100%; }
}

.errors{ background: #d1450e; padding: 4px 10px 14px; margin: 30px auto; color: #fff;
	h4{ color: #fff; margin-bottom: 10px; }
	div{ font-size: 90%;}
	a{ color: #fff; text-decoration: underline; }
	label h2{ color: #fff; }
}

@media screen and (max-width:767px) { 
	.profile-details{
		.container-article-content .subpage{ padding: 0; }
		& .progressBox{ 
			.col_1of3{ width: 100%; margin-bottom: 20px;
				a{ margin-left: 0; }
			}
			#info, #share, #start{ width: 100%; }
			#share .dot{ left: 89px; }
		}
		
		#fields{
			input, textarea, select{ width: 100%; max-width: 100%; }
			.description{ padding-top: 0px;  margin-bottom: 25px; 
				#member-type{ padding-top: 0; }
			}
			.editfield .field_content { margin-bottom: 0; }
		}
	}
}

//PROFILE DETAILS - PAGE 2
.profile-details2{	
	.pre, .content, .albumContainer, #smallNav{ display: inline-block; overflow: auto; clear: both;}
	.content{ margin-top: 25px; margin-bottom: 20px; width: 100%; overflow: visible; }
	#smallNav{ display: block;}
	.albumContainer{ position: relative; margin-bottom: 20px; overflow: visible;
		.hide{ display: none; }
		.inner_container{ margin-top: 1%; width: 100%; margin-left: 0; }
	}
	
	#bp-media-upload-ui #bp-media-album-prompt{
		font-family: 'Open Sans', sans-serif;
		font-size: 13px;
		font-weight: normal;
		line-height: 18px;
		margin-bottom: 5px;
		
		&> span{ font-size: 13px; margin-bottom: 6px; }
	}
}

.sharelist{ margin: 10px 0 40px;
	li{ display: inline-block;
		text-indent: 0; 
		list-style: none;	
		
		a, a:link, a:visited{  
			display: inline-block;
			width: 40px;
			height: 40px;
			background: url('images/socials.gif') -1px -1px no-repeat;
			text-indent: -9999px; 
		}
			a:hover, a:active{
				background-position-y: -42px;
			}		
	}
	
	li.share_twitter   	a{ background-position-x: -42px;  } 
	li.share_gplus 		a{ background-position-x: -83px;  }
	li.share_reddit		a{ background-position-x: -124px; }
	li.share_insta 	   	a{ background-position-x: -165px; }
	li.share_digg	   	a{ background-position-x: -206px; }
	li.share_su			a{ background-position-x: -247px; }
	li.share_pinterest  a{ background-position-x: -288px; }
	li.share_msn  		a{ background-position-x: -329px; }
	li.share_mail  		a{ background-position-x: -370px; }
	li.share_more  		a{ background-position-x: -411px; }
	
	li.share_su { display: none; }
}

@media screen and (max-width:767px) { 
	.profile-details, .profile-details2, .profile-details3{
		.subpage{ padding-left: 20px; padding-right: 20px;
			.progressBox{ display: block; width: auto; }
		}
		
		.col_1of3{ width: 100%; }
	}
	
	.profile-details3{ 
		.user-avatar{ margin-bottom: 20px; }
	}
}
	
.profile-details3{
	.user_profile{ display: inline-block; width: 100%; margin: 60px 0 40px;
		.member-details{
			h2{ text-transform: uppercase; margin-top: 0; line-height: inherit; }
			h3{ vertical-align: 26px; }
			
			.meta{ margin-top: 13px; font-family: "Oswald"; line-height: 26px; }
		}
	}
	p{ 
			.highlight{ color: #73a333; }
	}
	
	#emailsForm{ overflow: auto; margin-bottom: 60px; padding: 5px 0;
		.col_1of2{ margin-bottom: 30px; }
		.hide{ display: none; }
		#invites{ height: 74px; text-align: right; line-height: 20pt; text-transform: uppercase; }
		.emails{ overflow: auto; }
		.checkbox_input{ display: inline-block;
			h2 { display: inline; text-transform: uppercase; font-weight: 100; color: #7EB238; }
			label { margin-bottom: 0; margin-right: 20px; }
		}
		.email_submit{ float: right; 
			input#submit { vertical-align: super; }	
		}
	}
}

select{ @include appearance-none; text-indent: 0.01px; text-overflow: ""; /*Removes default arrow from firefox*/ }
input[type="button"]{ @include border-radius-none(!important); color: #fff !important; font-size: 16px !important; line-height: 18px !important; border: none !important; padding: 9px 14px !important;
	&:hover, &:active{ background-color: #73a333; @include box-shadow(0, 0px, 5px, #73a333); }
}


//
#profile-edit-form .field_member-type select{ width: 100%; }


// !UPLOAD SECTION
#bp-media-upload-ui{ text-align: center; text-transform: uppercase; margin-top: 0; line-height: 40px; overflow: visible;
	#drag-drop-area{ margin: 20px 0; clear: both; border:none !important;  padding: 30px 0 !important;
		@include box-shadow(0, 1px, 3px, rgba(0,0,0,0.3), inset); 
		@include border-radius-none(); 
		@include transition(background, 0.3s, ease);
		
		&.hover{ background: #73a333; color: #eee; }
		
		.drag-drop-inside{ float: none; width: auto; 
			.drag-drop-info{ font-size: 20px; }
		}
	}
	
	#bp-media-album-or{ line-height: 35px; display: inline-block; vertical-align: bottom; }
	.drag-drop-buttons{
		#bp-media-upload-browse-button{ margin: 0 9px !important; padding: 10px 14px; font-size: 18px !important; vertical-align: middle; @include border-radius-none();
			:hover, :active{ background: #73a333; }
		}		
	}
	#bp-media-album-prompt{ text-align: left; margin-bottom: 24px;
		#btn-create-new, #btn-create-cancel{ margin-top: 0; }
		#btn-create-new{ padding: 6px 13px !important; }
		#btn-create-cancel{ width: 31px; text-align: center; padding: 6px 0 !important; }
		
		span{ display: block; }
		.bp-media-album-content{ position: relative; line-height: normal;
			&.active{ cursor: pointer;
				
			}
		}	
			
		#bp-media-selected-album, #bp_media_album_new{ display: inline-block; width: 50%; max-width: 50%; height: 30px;
			@media screen and (max-width:767px) {  width: 100%; max-width: 100%;  }
		}
		
		@include placeholder{ color: #444; }
	}
	
	#bp-media-album-in{ background-color: #111; display: inline-block; float: none; text-align: center; @include border-radius(50%); }
	
	#bp-media-uploaded-files{ background: none;
		.bp-media-progressbar{ margin-right: 0; @include border-radius-none(); }
		.bp-media-progress-text{ background-color: #73a333; color: #fff; text-shadow: none; }
		.bp-media-progress-completed{ background-color: #73a333; }
	}
}

@media screen and (max-width:767px) { 
	#bp-media-album-prompt{ width: 100%; float: none; }
	#bp-media-album-in{ font-size: 28px !important; line-height: 40px !important; width: 40px !important; }
	.bp-media-album-content.active{ width: 100%; height: 45px; &::after{ top: 17px; } }
	#bp-media-upload-ui{ text-align: left;
		#drag-drop-area, #bp-media-album-or{ display: none; }
		.drag-drop-buttons #bp-media-upload-browse-button{ margin-left: 0 !important; }
	}
}
@media screen and (min-width:767px) { 
	#bp-media-album-prompt{ width: 75%; display: inline-block; float: left !important; }
	#bp-media-album-in{ font-size: 37px !important; line-height: 60px !important; width: 60px !important; margin-top: 10px; margin-left: 25px; }
	#bp-media-upload-ui #drag-drop-area { margin: 0 0 20px; }
	.albums input[type='submit'], .album input[type='submit']{ margin-left: 1%; }
	.artist_options{ margin-left: 1%; }
}

// !ALBUM 
.album{ opacity: 0; }
.loaderBox{	position: absolute;	display: inline-block; background: #222; height: 100px; width: 100%; top: 0; z-index: 900; }
.ajaxLoader{ position: absolute; margin: auto; height: 30px; top: 0; left: 0; right: 0; bottom: 0; width: 30px; height: 31px; margin-top: 35px;
	&::before, &::after{ content: ""; position: absolute; border: 2px solid #DDD; border-top: none; width: 10px; height: 10px; top: 10px;}
	&::before{ @include rotateDeg(-45deg); border-left:none; left: 2px;}
	&::after{ @include rotateDeg(45deg); border-right:none; right: 2px;}

  -webkit-animation: rt 2s infinite linear; /* Chrome, Safari 5+ */
     -moz-animation: rt 2s infinite linear; /* Firefox 5-15 */
       -o-animation: rt 2s infinite linear; /* Opera 12.00 */
          animation: rt 2s infinite linear; /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */
}

@-webkit-keyframes rt {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rt {
  0%   { -moz-transform: rotate(0deg); }
  100% {-moz-transform: rotate(360deg); }
}
@-o-keyframes rt {
  0%   { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); }
}
@keyframes rt {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.media.albums .album-edit{ display: inline-block !important; vertical-align: top;
	a{ padding: 9px 14px; font-size: 16px; margin-bottom: 3px;
		&.bp-media-edit-album{ margin-right: 3px; }
		&:hover, &:active{ background: #e6e6e6; }
	}	
}

/* !ARTIST OPTIONS */
.artist_options{ 
	h2{ display: inline; }
	span{ vertical-align: middle; margin-right: 20px; }
	input[type="radio"]{ margin-right: 10px; }
	input[type="text"]{ display: inline-block; width: auto; margin-bottom: 0; }
	
	.hide{ margin-bottom: 30px; padding: 5px 0 5px 1px; }
}

/* !ALBUM GALLERY WITH EDIT */
.edit-list{ margin: 0; text-align: justify; 
	[class*="col_"] { float: none; display: inline-block; text-align: left; vertical-align: top; margin: 0 0.5% 26px 1%; padding: 0 0 2px; @include box-shadow(0, 1px, 5px, rgba(0,0,0,0.2)); }
	
	@include placeholder{ color: #666; text-transform: uppercase; } 
	
	li ul{ list-style-type: none; margin: 0;
		li{
			a { display: block; max-height: 400px; overflow: hidden; }
			img{ width: 100%; height: auto; }
			@media (min-width: 767px){ a { max-height: 155px; } }
			@media (min-width: 979px){ a { max-height: 198px; } }
			
			
			input, textarea{  color: #333;  margin: 0;}
			input{ @include border-radius-none(); }
			textarea{ margin-top: 10px; }
			&.fieldContent, &.artists{ padding: 0 5px 0; }
			&.fieldContent{ margin: 12px 0 10px; }
			&.artists{ margin-bottom: 6px;
				p{ display: none; }
			}
		}
	}
	
	@media screen and (max-width: $mamabear){ 
		[class*="col_"] { margin: 0 0 30px; }
		.fieldContent, .artists{ padding: 0 10px 0; }
		
		.col_1of3{ width: 100%; }
	}
	
}

/* !FOOTER */
footer{ background: #000; color: #fff; display: block; overflow: auto; text-transform: uppercase;
	.footerContent{ 
		.col_1of2, p a, ul li a, h1{ font-size: 15px; }
		ul{ margin: 0; list-style: none; 
			li{ margin-bottom: 15px;}
		}
		h1{ color: #fff; font-weight: 100; margin-bottom: 22px; }
		a{  color: #fff; text-transform: uppercase; }
		
		#socials{
			#skull{ text-align: right; vertical-align: bottom; height: 93px; display: table-cell; float: none;
				img{ height: 48px; }
			}
		}
		#signup{ margin-top: 30px;
			h1{margin-bottom: 10px; }
			input{ background: #333; color: #ddd; border: 1px solid #555; @include transition('background', 0.4s, 'ease');
				&[type=email]{ background: #222; width: 71%; height: 30px; margin-right: -4px; }
				&[type=submit]{ width: 28%; background: #000; color: #fff; 
					&:hover, &:active{ background: #DDD; color: #000; }
				}
			}
		}
		
		.centered{ text-align: center; }
		#end{ clear: both; line-height: 30px; 
			a{ margin: 0 7px; font-size: 17px; }
			p, ul{ display: inline-block; 
				&>li{ display: inline-block; }
			}
			
		}
	}
}

@media screen and (max-width: $mamabear){ 
	footer{ 
		.footerContent{
			.col_1of2, p a, ul li a, h1{ font-size: 24px; padding: 0 20px; }
			.col_1of3{ margin-bottom: 20px; }
			#socials{ text-align: center; margin-top: 60px;
				#skull{ text-align: center; margin-top: 40px; float: left; display: inline; height: auto;
					img{ vertical-align: bottom; width: 120px; height: auto; }
				}
			}
			#signup{ text-align: center; padding: 0 20px; 
				h1{ padding: 0; }
			}
			#end{
				p, ul{ display: block;
					&.sub-menu{ margin-top: 10px; }
					li{ display: block; }
				}
			}
		}
	}
}

.thankyou{ margin: 60px auto 100px; padding: 0 10px;
	h2{ text-transform: uppercase; font-size: 12pt;
		&#thanks{ font-family: 'Conv_Wisdom Script AJ'; text-transform: none; font-size: 24pt; }
	}
	div{ 
		&> img{margin-right: 10px; }
		
		&.notice{ display: inline-block; background: #000; color: #fff; margin: 40px 0; padding: 14px 10px; background: #000; }	
		&.th_connect.inverse{
			.share_fb{ 			background-position-x: 0;	}
			.share_twitter{		background-position-x: -41px;}
			.share_instagram{	background-position-x: -164px;}
			.share_pinterest{	background-position-x: -287px; }
		}
	}
	
}


.th_connect{
	a{ display: inline-block; background: url('images/socials.gif') -494px -1px no-repeat; width: 40px; height: 40px; text-indent: -9999px; margin-bottom: 3px;
		&:hover, &:active{ background-position-y: -42px; }

		&.share_twitter{ 	background-position-x: -535px; }
		&.share_instagram{ 	background-position-x: -576px; }
		&.share_pinterest{ 	background-position-x: -617px; }
	}
}
//