//no change
$papabear: 979px;
$mamabear: 767px;
$littlebear: 600px;
$babybear: 320px;

/****COLORS****/
$green: #7EB238;
$darkGreen: #73A333;

/****FONTS****/
$fontTitle: 'Oswald', 'Helvetica CY', 'Arial Narrow', 'Helvetica Neue', Arial, sans-serif;
$fontBody: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;

@mixin font-size($sizeValue){
	font-size: $sizeValue + px;
	font-size: ($sizeValue / 16) + rem;
}

@mixin line-height($sizeValue){
	line-height: $sizeValue + px;
	line-height: ($sizeValue / 16) + rem;	
}

@mixin box-shadow-none(){
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	     -o-box-shadow: none;
	     	box-shadow: none;	
}

@mixin box-shadow($left, $top, $blur, $color, $inset:"") {
  -webkit-box-shadow: $left $top $blur $color #{$inset};
  	 -moz-box-shadow: $left $top $blur $color #{$inset};
  	   -o-box-shadow: $left $top $blur $color #{$inset};
  	 	  box-shadow: $left $top $blur $color #{$inset};
}

@mixin rotateDeg($value){
	-webkit-transform: 	rotate($value);
	-moz-transform: 	rotate($value);
	-o-transform: 		rotate($value);
	-ms-transform: 		rotate($value);
	transform: 			rotate($value);	
}

@mixin text-shadow-none(){
	-webkit-text-shadow:none;
   	   -moz-text-shadow:none;
   	     -o-text-shadow:none;
   	     	text-shadow:none;
}

@mixin text-shadow($top, $left, $blur, $color){
	-webkit-text-shadow:$top $left $blur $color;
   	   -moz-text-shadow:$top $left $blur $color;
   	     -o-text-shadow:$top $left $blur $color;
   	     	text-shadow:$top $left $blur $color;
}


@mixin transition($property, $duration, $ease) {
	-webkit-transition: $property $duration $ease;
	   -moz-transition: $property $duration $ease;
	     -o-transition: $property $duration $ease;
	    -ms-transition: $property $duration $ease;
	    	transition: $property $duration $ease; 
}


@mixin border-radius-none($imp:""){
	-webkit-border-radius: 0 unquote($imp);
	   -moz-border-radius: 0 unquote($imp);
	   	 -o-border-radius: 0 unquote($imp);
	     	border-radius: 0 unquote($imp);
}

@mixin border-radius($value){
	-webkit-border-radius: $value;
	   -moz-border-radius: $value;
	     -o-border-radius: $value;
	        border-radius: $value;
}

@mixin btnGreen{
	background-color:$green;	
	color:white;
	@include transition(background, .3s, ease-out);
	&:hover, &:active, &:focus{
		background-color:$darkGreen;
		outline-color: $darkGreen;
		color:white;	
	}
}

@mixin btnDisabled{
	background-color:#666666;
	opacity:0.6;
	cursor:default;
	
  	&:hover, &:active, &:focus{
		color:white;		
	}
}

@mixin placeholder{
	::-webkit-input-placeholder {@content}
	:-moz-placeholder           {@content}
	::-moz-placeholder          {@content}
	:-ms-input-placeholder      {@content}  
}

@mixin appearance-none{
	 -webkit-appearance: none; 
		-moz-appearance: none;
			 appearance: none; 
}