a {
    color: #EEB900;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #A27E00;
}

#header #search-bar {
	background: #EEB900; 
	background: -moz-linear-gradient(top, #EEB900 0%, #EEB900 15%, #9C7A00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEB900), color-stop(15%,#EEB900), color-stop(100%,#9C7A00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #EEB900 0%,#EEB900 15%,#9C7A00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #EEB900 0%,#EEB900 15%,#9C7A00 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #EEB900 0%, #EEB900 15%,#9C7A00 100%); /* IE10+ */
	filter: none; /* IE6-9 */
	background: linear-gradient(top, #EEB900 0%,#EEB900 15%,#9C7A00 100%); /* W3C */
}
 
div.item-list-tabs ul li {
    background: #FFC809;
    border: 1px solid #FFC809;
}
div.item-list-tabs ul li:hover {
    background: #EEB900;
    border-color: #EEB900;
}

div.item-list-tabs ul li, 
div.item-list-tabs ul li.selected, 
div.item-list-tabs ul li.current {
	border-bottom: none; 
	margin-bottom: -1px; 
}

div.item-list-tabs ul li a span {
  	background: #A27E00;
}
div.item-list-tabs ul li a:hover span {
  	background: #886A00;
}

#header #search-bar input[type=submit] {
	background: #554200; 
	background: -moz-linear-gradient(top, #554200 0%, #6F5600 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#554200), color-stop(100%,#6F5600)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #554200) 0%,#6F5600 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #554200 0%,#6F5600 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #554200 0%,#6F5600 100%); /* IE10+ */
	filter: none; /* IE6-9 */
	background: linear-gradient(top, #554200 0%,#6F5600  100%); /* W3C */
 	border-color: #6F5600 #6F5600 #6F5600 #6F5600;
    border-right: 1px solid #6F5600;
    color: #FFF;
	text-shadow: 0 1px 0 #000; 	
}
#header h1 a {
	text-shadow: 0 -1px 0 #000000;
}
form#whats-new-form textarea:focus {
	-moz-box-shadow: 0 0 7px #FFF0BB inset, 0 0 7px #FFF0BB inset;
   	-webkit-box-shadow: 0 0 7px #FFF0BB inset, 0 0 7px #FFF0BB inset;
    box-shadow: 0 0 7px #FFF0BB inset, 0 0 7px #FFF0BB inset;
}
#whats-new:focus {
    border-color: #FFD955 !important;
    outline-color: #FFD955;
}
#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications #ab-pending-notifications.alert,
#wpadminbar .quicklinks li#wp-admin-bar-my-account a span.count, 
#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar a span.count {
    background-color: #FFC809;
}
#wpadminbar .quicklinks .menupop ul li a, 
#wpadminbar .quicklinks .menupop ul li a strong, 
#wpadminbar .quicklinks .menupop.hover ul li a, 
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
    color: #9C7A00;
}
#wpadminbar .menupop li:hover, 
#wpadminbar .menupop li.hover, 
#wpadminbar .quicklinks .menupop .ab-item:focus, 
#wpadminbar .quicklinks .ab-top-menu .menupop .ab-item:focus {
    background-color: #fbf5de;
}